@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap";

body {
  background-color: hsl(226deg, 43%, 10%);
  font-family: Rubik, sans-serif;
  color: white;
}

.profile-stats-holder {
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 15px;
}

.profile {
  background-color: hsl(246deg, 80%, 60%);
  border-radius: 15px;
  padding: 1rem;
}

.profile-pic {
  width: 30%;
  margin-right: 1rem;
}

div.stats a {
  color: hsl(236deg, 100%, 87%);
  margin: 2rem;
}

.background-work {
  background-color: hsl(15deg, 100%, 70%);
  background-image: url("/images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  height: 3rem;
  border-radius: 15px 15px 0 0;
  margin-top: 2rem;
}

.div-work {
  background-color: hsl(235deg, 46%, 20%);
  margin: 0;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  top: 2rem;
  padding: 1rem;

  /* padding-top: 3rem; */
}

.position {
  position: relative;
}

.icon-ellipsis {
  height: 100%;
}

p {
  margin: 0;
}

.background-play {
  background-color: hsl(195deg, 74%, 62%);
  background-image: url("/images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  height: 3rem;
  border-radius: 15px 15px 0 0;
  margin-top: 2rem;
}
